{% assign interests = site.data.data.interests %}
{% if interests %}
<section class="section interests-section">

    <h2 class="section-title">
        <span class="fa-stack fa-xs">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-heart fa-stack-1x fa-inverse"></i>
        </span>
        {{ interests.title }}
    </h2>

    {% if interests.intro %}
    <div class="intro">
        {{ interests.intro | markdownify }}
    </div><!--//intro-->
    {% endif %}

    {% for interests in interests.interests %}
    <div class="item">
        <li>{{ interests.title }}</li>
    </div><!--//item-->
    {% endfor %}

</section><!--//section-->
{% endif %}
