{% assign projects = site.data.data.projects %}
{% if projects %}
<section class="section projects-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
    </span>
    {{ projects.title }}
  </h2>

  {% if projects.intro %}
  <div class="intro">
      <p>{{ projects.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for project in projects.assignments %}
    <div class="item">

      <span class="project-title">
        {% if project.link %}
        <a href="{{ project.link }}" target="_blank">{{ project.title }}</a>
        {% else %}
        {{ project.title }}
        {% endif %}
      </span>

      {% if project.tagline %}
      - <span class="project-tagline">{{ project.tagline }}</span>
      {% endif %}

    </div><!--//item-->
  {% endfor %}


    <div id="projectsCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            {% for project in projects.assignments %}
                {% if project.primary %}
                <button type="button" 
                        data-bs-target="#projectsCarousel" 
                        data-bs-slide-to="{{ project.id }}" 
                        class="active" aria-current="true"
                        aria-label="{{ project.title }}"></button>
                {% else %}
                <button type="button"
                        data-bs-target="#projectsCarousel"
                        data-bs-slide-to="{{ project.id }}"
                        aria-label="{{ project.title }}"></button>
                {% endif %}
            {% endfor %}
        </div>
        <div class="carousel-inner">
            {% for project in projects.assignments %}
                {% if project.primary %}
                    <div class="carousel-item active" data-bs-interval="30000">
                        <img src="{{ project.icon | relative_url }}" class="d-block w-100" height="500" alt="{{ project.title }}">
                        <div class="carousel-caption d-none d-md-block">
                            <h5><a href="{{ project.link }}" target="_blank">{{ project.title }}</a></h5>
                            <p>{{project.tagline}}</p>
                        </div>
                    </div>
                {% else %}
                    <div class="carousel-item" data-bs-interval="30000">
                        <img src="{{ project.icon | relative_url }}" class="d-block w-100" height="500" alt="{{ project.title }}">
                        <div class="carousel-caption d-none d-md-block">
                            <h5><a href="{{ project.link }}" target="_blank">{{ project.title }}</a></h5>
                            <p>{{project.tagline}}</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#projectsCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#projectsCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
  

</section><!--//section-->
{% endif %}
