---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.collapse:not(.show) {
    display: none
}

.show {
    display: block
}

.btn-experience-collapse .less {
    display: none
}

.btn-experience-collapse[aria-expanded=true] .less {
    display: inline
}

.btn-experience-collapse[aria-expanded=true] .full {
    display: none
}

.d-block {
    display: block !important
}