/* ==========================================================================
   BASE ELEMENTS
   ========================================================================== */

html {
  /* sticky footer fix */
  position: relative;
  min-height: 100%;
  font-size: 16px !important;
}

body {
  margin: 0;
  padding: 0;
  color: $text-color;
  font-family: $global-font-family;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.overflow--hidden {
    /* when primary navigation is visible, the content in the background won't scroll */
    overflow: hidden;
  }
}

.carousel-item {
    background-color: $background-color;
}

.collapse:not(.show) {
    display: none
}

.show {
    display: block
}

.btn-experience-collapse .less {
    display: none
}

.btn-experience-collapse[aria-expanded=true] .less {
    display: inline
}

.btn-experience-collapse[aria-expanded=true] .full-button {
    display: none
}

.d-block {
    display: block !important
}

a {
    text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 2em 0 0.5em;
  line-height: 1.2;
  font-family: $header-font-family;
  font-weight: bold;
}

h1 {
  margin-top: 0;
  font-size: $h-size-1 !important;
}

h2 {
  font-size: $h-size-2 !important;
}

h3 {
  font-size: $h-size-3 !important;
}

h4 {
  font-size: $h-size-4 !important;
}

h5 {
  font-size: $h-size-5 !important;
}

h6 {
  font-size: $h-size-6 !important;
}

small,
.small {
  font-size: $type-size-6;
}

p {
  margin-bottom: 1.3em;
}

u,
ins {
  text-decoration: none;
  border-bottom: 1px solid $text-color;
  a {
    color: inherit;
  }
}

del a {
  color: inherit;
}

/* reduce orphans and widows when printing */

p,
pre,
blockquote,
ul,
ol,
dl,
figure,
table,
fieldset {
  orphans: 3;
  widows: 3;
}

/* abbreviations */

abbr[title],
abbr[data-original-title] {
  text-decoration: none;
  cursor: help;
  border-bottom: 1px dotted $text-color;
}

/* blockquotes */

blockquote {
  margin: 2em 1em 2em 0;
  padding-left: 1em;
  padding-right: 1em;
  font-style: italic;
  border-left: 0.25em solid $primary-color;

  cite {
    font-style: italic;

    &:before {
      content: "\2014";
      padding-right: 5px;
    }
  }
}

/* links */

a {
  &a:link {
      text-decoration: none;
  }
  &:focus {
    @extend %tab-focus;
    text-decoration: none;
  }

  &:visited {
    color: $link-color-visited;
  }

  &:hover {
    color: $link-color-hover;
    outline: 0;
  }
}

/* buttons */

button:focus {
  @extend %tab-focus;
}

/* code */

tt,
code,
kbd,
samp,
pre {
  font-family: $monospace;
}

pre {
  overflow-x: auto; /* add scrollbars to wide code blocks*/
}

/* horizontal rule */

hr {
  display: block;
  margin: 1em 0;
  border: 0;
  border-top: 1px solid $border-color;
}

/* lists */

ul li,
ol li {
  margin-bottom: 0.5em;
}

li ul,
li ol {
  margin-top: 0.5em;
}

/*
   Media and embeds
   ========================================================================== */

/* Figures and images */

figure {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 2em 0;

  img,
  iframe,
  .fluid-width-video-wrapper {
    margin-bottom: 1em;
  }

  img {
    width: 100%;
    border-radius: $border-radius;
    -webkit-transition: $global-transition;
    transition: $global-transition;
  }

  > a {
    display: block;
  }

  &.half {
    > a,
    > img {
      @include breakpoint($small) {
        width: calc(50% - 0.5em);
      }
    }

    figcaption {
      width: 100%;
    }
  }

  &.third {
    > a,
    > img {
      @include breakpoint($small) {
        width: calc(33.3333% - 0.5em);
      }
    }

    figcaption {
      width: 100%;
    }
  }
}

/* Figure captions */

figcaption {
  margin-bottom: 0.5em;
  color: $muted-text-color;
  font-family: $caption-font-family;
  font-size: $type-size-6;

  a {
    -webkit-transition: $global-transition;
    transition: $global-transition;

    &:hover {
      color: $link-color-hover;
    }
  }
}

/* Fix IE9 SVG bug */

svg:not(:root) {
  overflow: hidden;
}

/*
   Navigation lists
   ========================================================================== */

/**
 * Removes margins, padding, and bullet points from navigation lists
 *
 * Example usage:
 * <nav>
 *    <ul>
 *      <li><a href="#link-1">Link 1</a></li>
 *      <li><a href="#link-2">Link 2</a></li>
 *      <li><a href="#link-3">Link 3</a></li>
 *    </ul>
 *  </nav>
 */

nav {
  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  /* override white-space for nested lists */
  ul li,
  ol li {
    margin-bottom: 0;
  }

  li ul,
  li ol {
    margin-top: 0;
  }
}

/*
   Global animation transition
   ========================================================================== */

b,
i,
strong,
em,
blockquote,
p,
q,
span,
figure,
img,
h1,
h2,
header,
input,
a,
tr,
td,
form button,
input[type="submit"],
.btn,
.highlight,
.archive__item-teaser {
  -webkit-transition: $global-transition;
  transition: $global-transition;
}

/*
   Resume/CV Styling
   ========================================================================== */

/*.wrapper {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    max-width: 1000px;
    margin: 0 auto;
    position: relative;*/
    /*@include box-shadow(0px 2px 4px rgba(0, 0, 0, 0.1));*/
/*}*/

.fa-inverse {
    color: $code-background-color !important;
}

.main {
    margin-top: -50px !important;
}

.main-wrapper {
    grid-column: span 7;
    padding: 60px;
    padding-top: 0px;
    margin-top: 40px;

    .section-title {
        text-transform: uppercase;
        font-size: $type-size-4;
        font-weight: 500;
        /*color: darken($theme-color, 15%);*/
        position: relative;
        margin-top: 0;
        margin-bottom: 20px;
    }

    .section {
        margin-bottom: 60px;
    }

    .experiences-section,
    .educations-section {
        .item {
            margin-bottom: 30px;
        }
    }

    .upper-row {
        position: relative;
        overflow: hidden;
        margin-bottom: 2px;
    }

    .job-title,
    .degree {
        /*color: $text-color;*/
        font-size: $type-size-5;
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 600;
    }

    .time {
        position: absolute;
        right: 0;
        top: 0;
        font-size: $type-size-5 !important;
        font-style: italic;
        /*color: $text-grey;*/
    }

    .company,
    .university {
        margin-bottom: 10px;
        font-size: $type-size-5;
        font-style: italic;
        /*color: $text-grey;*/
    }

    .project-title {
        font-size: $type-size-5;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 5px;
        /*color: darken($theme-color, 15%);*/
    }

    .project-tagline {
        font-size: $type-size-5;
        margin-top: 0;
        margin-bottom: 5px;
        /*color: darken($theme-color, 15%);*/
    }

    .projects-section {
        .intro {
            margin-bottom: 30px;
        }

        .item {
            margin-bottom: 15px;
        }
    }

    .publication-title {
        font-size: $type-size-5;
        font-weight: 400;
        /*color: $text-color;*/
        margin-bottom: 1px;
    }

    .publication-authors,
    .publication-conference {
        font-style: italic;
        font-size: $type-size-5;
        /*color: $text-grey;*/
        margin-bottom: 1px;
    }

    .publications-section {
        .intro {
            margin-bottom: 30px;
        }

        .item {
            margin-bottom: 15px;
        }
    }

    .interests-title {
        font-size: $type-size-5;
        font-weight: 400;
        /*color: $text-color;*/
        margin-bottom: 1px;
    }

    .interests-section {
        .intro {
            margin-bottom: 30px;
        }

        .item {
            margin-bottom: 15px;
        }
    }
}

.skillset {
    .item {
        margin-bottom: 10px;
        overflow: hidden;
    }

    .level-title {
        font-size: $type-size-6 !important;
        margin-top: 0;
        margin-bottom: 3px;
    }

    .level-bar {
        height: 12px;
        background: $border-color;
        width: 100%;
    }

    .level-bar-inner {
        height: 12px;
        background: $primary-color;
    }
}

.sidebar-container {
    background-color: $card-background;
    padding: 20px 10px 10px 10px;
    margin-top: -10px;
    border-radius: 10px;
    border: 1px solid $background-color;
}